<a href="https://colab.research.google.com/github/ShanmukhaSasank/intro_pandas_commands/blob/main/Pandas_intro_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd

In [61]:
df=pd.read_csv('Salaries.csv')

In [62]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [63]:
#is used to print top 5 records
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [64]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [65]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [66]:
df.shape

(78, 6)

In [67]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [68]:
df.info

<bound method DataFrame.info of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646>

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

In [70]:
pd.set_option('display.max_rows',None)

In [71]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [72]:
df.isnull().sum()

rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [73]:
df.describe(include='all')

        rank discipline        phd    service   sex         salary
count     78         78  78.000000  78.000000    78      78.000000
unique     3          2        NaN        NaN     2            NaN
top     Prof          B        NaN        NaN  Male            NaN
freq      46         42        NaN        NaN    39            NaN
mean     NaN        NaN  19.705128  15.051282   NaN  108023.782051
std      NaN        NaN  12.498425  12.139768   NaN   28293.661022
min      NaN        NaN   1.000000   0.000000   NaN   57800.000000
25%      NaN        NaN  10.250000   5.250000   NaN   88612.500000
50%      NaN        NaN  18.500000  14.500000   NaN  104671.000000
75%      NaN        NaN  27.750000  20.750000   NaN  126774.750000
max      NaN        NaN  56.000000  51.000000   NaN  186960.000000

In [74]:
df['rank'].value_counts()

rank
Prof         46
AsstProf     19
AssocProf    13
Name: count, dtype: int64

In [75]:
df.mean(numeric_only=True)

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [76]:
df['phd'].mean()

19.705128205128204

In [77]:
df['phd'].median()

18.5

In [78]:
df['salary'].mean()

108023.78205128205

In [79]:
df['salary'].median()

104671.0

In [80]:
df['salary'].mode()

0    92000
Name: salary, dtype: int64

In [81]:
df[['phd','salary']].mean()

phd           19.705128
salary    108023.782051
dtype: float64

In [82]:
df['phd'].var()

156.21062271062277

In [83]:
df[['phd','salary']].std()

phd          12.498425
salary    28293.661022
dtype: float64

In [84]:
df[['phd','salary']].skew()

phd       0.634366
salary    0.452103
dtype: float64

In [85]:
df[['phd','salary']].kurt()

phd       0.042504
salary   -0.401713
dtype: float64

In [86]:
df[['phd','salary']].max()-df[['phd','salary']].min()

phd           55
salary    129160
dtype: int64

In [87]:
df[['phd','salary']].describe()

             phd         salary
count  78.000000      78.000000
mean   19.705128  108023.782051
std    12.498425   28293.661022
min     1.000000   57800.000000
25%    10.250000   88612.500000
50%    18.500000  104671.000000
75%    27.750000  126774.750000
max    56.000000  186960.000000

In [88]:
df['salary'].count()

78

In [89]:
df['rank'].value_counts()

rank
Prof         46
AsstProf     19
AssocProf    13
Name: count, dtype: int64

In [89]:
# prompt: can you import basic library pandas in this workbook

import pandas as pd

# Assuming Salaries.csv is in the current working directory.
# If not, provide the correct path to the file.
try:
    df = pd.read_csv('Salaries.csv')
    print(df)
    print(df.head())
    print(df.tail())
    print(df.columns)
    print(df.shape)
    print(df.dtypes)
    print(df.info())
    pd.set_option('display.max_rows', None)
    print(df)
    print(df.isnull().sum())
    print(df.describe(include='all'))
    print(df['rank'].value_counts())
    print(df.mean(numeric_only=True))
    print(df['phd'].mean())
    print(df['phd'].median())
    print(df['salary'].mean())
    print(df['salary'].median())
    print(df['salary'].mode())
    print(df[['phd', 'salary']].mean())
    print(df['phd'].var())
    print(df[['phd', 'salary']].std())
    print(df[['phd', 'salary']].skew())
    print(df[['phd', 'salary']].kurt())
    print(df[['phd', 'salary']].max() - df[['phd', 'salary']].min())
    print(df[['phd', 'salary']].describe())
    print(df['salary'].count())
    print(df['rank'].value_counts())
except FileNotFoundError:
    print("Error: Salaries.csv not found. Please upload the file or provide the correct path.")
except pd.errors.ParserError:
    print("Error: Could not parse the CSV file. Please check the file format.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

In [90]:
# prompt: can you read this file /content/Salaries.csv

import pandas as pd

# Assuming Salaries.csv is in the current working directory.
# If not, provide the correct path to the file.
try:
    df = pd.read_csv('/content/Salaries.csv')
    print(df)
    print(df.head())
    print(df.tail())
    print(df.columns)
    print(df.shape)
    print(df.dtypes)
    print(df.info())
    pd.set_option('display.max_rows', None)
    print(df)
    print(df.isnull().sum())
    print(df.describe(include='all'))
    print(df['rank'].value_counts())
    print(df.mean(numeric_only=True))
    print(df['phd'].mean())
    print(df['phd'].median())
    print(df['salary'].mean())
    print(df['salary'].median())
    print(df['salary'].mode())
    print(df[['phd', 'salary']].mean())
    print(df['phd'].var())
    print(df[['phd', 'salary']].std())
    print(df[['phd','salary']].skew())
    print(df[['phd','salary']].kurt())
    print(df[['phd','salary']].max()-df[['phd','salary']].min())
    print(df[['phd','salary']].describe())
    print(df['salary'].count())
    print(df['rank'].value_counts())
except FileNotFoundError:
    print("Error: Salaries.csv not found. Please upload the file or provide the correct path.")
except pd.errors.ParserError:
    print("Error: Could not parse the CSV file. Please check the file format.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646
   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800
         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646
Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')
(78, 6)
rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB
None
         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646
rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64
        rank discipline        phd    service   sex         salary
count     78         78  78.000000  78.000000    78      78.000000
unique     3          2        NaN        NaN     2            NaN
top     Prof          B        NaN        NaN  Male            NaN
freq      46         42        NaN        NaN    39            NaN
mean     NaN        NaN  19.705128  15.051282   NaN  108023.782051
std      NaN        NaN  12.498425  12.139768   NaN   28293.661022
min      NaN        NaN   1.000000   0.000000   NaN   57800.000000
25%      NaN        NaN  10.250000   5.250000   NaN   88612.500000
50%      NaN        NaN  18.500000  14.500000   NaN  104671.000000
75%      NaN        NaN  27.750000  20.750000   NaN  126774.750000
max      NaN        NaN  56.000000  51.000000   NaN  186960.000000
rank
Prof         46
AsstProf     19
AssocProf    13
Name: count, dtype: int64
phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64
19.705128205128204
18.5
108023.78205128205
104671.0
0    92000
Name: salary, dtype: int64
phd           19.705128
salary    108023.782051
dtype: float64
156.21062271062277
phd          12.498425
salary    28293.661022
dtype: float64
phd       0.634366
salary    0.452103
dtype: float64
phd       0.042504
salary   -0.401713
dtype: float64
phd           55
salary    129160
dtype: int64
             phd         salary
count  78.000000      78.000000
mean   19.705128  108023.782051
std    12.498425   28293.661022
min     1.000000   57800.000000
25%    10.250000   88612.500000
50%    18.500000  104671.000000
75%    27.750000  126774.750000
max    56.000000  186960.000000
78
rank
Prof         46
AsstProf     19
AssocProf    13
Name: count, dtype: int64

In [94]:
df.iloc[0:10,0:5]

        rank discipline  phd  service   sex
0       Prof          B   56       49  Male
1       Prof          A   12        6  Male
2       Prof          A   23       20  Male
3       Prof          A   40       31  Male
4       Prof          B   20       18  Male
5       Prof          A   20       20  Male
6  AssocProf          A   20       17  Male
7       Prof          A   18       18  Male
8       Prof          A   29       19  Male
9       Prof          A   51       51  Male

In [95]:
# prompt: select first 10 records and first five columns in our datasets

import pandas as pd

try:
    df = pd.read_csv('/content/Salaries.csv')
    print(df.iloc[0:10, 0:5])
except FileNotFoundError:
    print("Error: Salaries.csv not found. Please upload the file or provide the correct path.")
except pd.errors.ParserError:
    print("Error: Could not parse the CSV file. Please check the file format.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

        rank discipline  phd  service   sex
0       Prof          B   56       49  Male
1       Prof          A   12        6  Male
2       Prof          A   23       20  Male
3       Prof          A   40       31  Male
4       Prof          B   20       18  Male
5       Prof          A   20       20  Male
6  AssocProf          A   20       17  Male
7       Prof          A   18       18  Male
8       Prof          A   29       19  Male
9       Prof          A   51       51  Male

In [99]:
df.groupby(['rank','salary']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [100]:
df.groupby(['rank','salary'])[['phd','service']].mean()

                        phd    service
rank      salary
AssocProf 62884   25.000000  22.000000
          71065   12.000000   9.000000
          73300   26.000000  24.000000
          74830   13.000000   8.000000
          77500   10.000000   8.000000
          81285   20.000000  17.000000
          103613  11.000000  11.000000
          103750  13.000000  10.000000
          103994  12.000000  10.000000
          104542  19.000000   6.000000
          107008   9.000000   7.000000
          109650  14.000000   7.000000
          119800  12.000000   8.000000
AsstProf  63100    7.000000   6.000000
          72500    2.500000   0.500000
          73000    4.000000   2.000000
          73500    5.000000   3.000000
          74692   11.000000   3.000000
          75044    8.000000   3.000000
          77000    5.000000   0.000000
          77500    4.000000   2.000000
          78500    8.000000   3.000000
          80225    4.000000   2.000000
          85000    2.000000   0.000000
          88000    1.000000   0.000000
          91000    4.000000   3.000000
          91300    7.000000   2.000000
          92000    3.666667   2.333333
          97032   10.000000   5.000000
Prof      57800   51.000000  51.000000
          90450   17.000000  11.000000
          91000   29.000000  27.000000
          91100   30.000000  23.000000
          93000   12.000000   6.000000
          94350   29.000000  19.000000
          99418   35.000000  31.000000
          102000  20.000000   8.000000
          103106  33.000000  30.000000
          103275  27.000000  19.000000
          104800  20.000000  18.000000
          105000  12.000000   0.000000
          105450  18.000000  10.000000
          107300  19.000000   7.000000
          109646  23.000000  15.000000
          109954  28.000000  14.000000
          110515  23.000000  20.000000
          111512  17.000000  17.000000
          116450  28.000000   7.000000
          117555  36.000000  19.000000
          120000  18.000000  18.000000
          122400  20.000000  20.000000
          122960  17.000000  18.000000
          123683  21.000000  20.000000
          124312  17.000000  17.000000
          126300  18.000000  18.000000
          126933  28.000000  23.000000
          127512  20.000000  14.000000
          128250  39.000000  33.000000
          129000  18.000000  18.000000
          131205  40.000000  31.000000
          134778  23.000000  23.000000
          137000  39.000000  36.000000
          140096  25.000000  25.000000
          144651  36.000000  26.000000
          146856  45.000000  45.000000
          148750  38.000000  19.000000
          150480  17.000000   3.000000
          150500  29.000000  27.000000
          151768  23.000000  19.000000
          153750  25.000000  19.000000
          155750  22.000000  21.000000
          155865  45.000000  43.000000
          161101  24.000000  15.000000
          162200  35.000000  33.000000
          186960  56.000000  49.000000

In [102]:
# prompt: can you groupby the rank by mean of salary and phd

import pandas as pd

try:
    df = pd.read_csv('/content/Salaries.csv')
    grouped = df.groupby('rank')[['salary', 'phd']].mean()
    print(grouped)
except FileNotFoundError:
    print("Error: Salaries.csv not found. Please upload the file or provide the correct path.")
except pd.errors.ParserError:
    print("Error: Could not parse the CSV file. Please check the file format.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

                  salary        phd
rank
AssocProf   91786.230769  15.076923
AsstProf    81362.789474   5.052632
Prof       123624.804348  27.065217

In [103]:
 df.groupby('rank')[['salary', 'phd']].mean()

                  salary        phd
rank
AssocProf   91786.230769  15.076923
AsstProf    81362.789474   5.052632
Prof       123624.804348  27.065217